body {
  display: flex; /* Centers the game board horizontally and vertically */
  flex-direction: column; /* Aligns items vertically */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: black; /* Light grey background */
  margin: 0; /* Remove default margin */
}

h1 {
  color: #fff; /* Dark grey color for the title */
  font-family: 'Times New Roman', sans-serif; /* Sets the font style */
  margin-top: 20px; /*For spacing*/
  text-align: center; /* Centers text horizontally*/
  margin-bottom: 20px; /* Space between title and gameboard*/
}

#gameBoard {
  display: grid; /* Using CSS Grid to layout the board */
  grid-template-columns: repeat(8, 50px); /* Creates 8 columns, each 50px wide */
  grid-template-rows: repeat(8, 50px); /* Creates 8 rows, each 50px high */
  gap: 1px; /* Spacing between cells */
  border: 5px solid #fff; /* White border for visibility against black cells */
  /*margin: 20px;  Optional: Adds some space around the board */
}

.cell {
  width: 50px;
  height: 50px;
  display: flex; /* Center the pieces inside the cells */
  justify-content: center;
  align-items: center;
}

.cell:nth-child(odd) {
  background-color: #000; /* Black cells */
}

.cell:nth-child(even) {
  background-color: #808080; /* Grey cells */
}

.player1, .player2 {
  width: 40px; /* Diameter of the pieces */
  height: 40px;
  border-radius: 50%; /* Make the pieces circular */
  display: flex; /* Center the content of the pieces (if any content is added later) */
  justify-content: center;
  align-items: center;
}

.player1 {
  background-color: green; 
}

.player2 {
  background-color: red; 
}
