body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  margin: 0;
}

h1 {
  color: white;
  font-family: 'Times New Roman', sans-serif;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(8, 50px); /* 8 columns, each 50px wide */
  grid-template-rows: repeat(8, 50px); /* 8 rows, each 50px high */
  gap: 2px; /* Ensures breaks are visible */
  border: 5px solid white; /* Adjust as necessary */
}


.cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:nth-child(odd) {
  background-color: #000; /* Black cells */
}

.cell:nth-child(even) {
  background-color: #808080; /* Grey cells */
}

.player1 {
  width: 40px; /* Diameter of the pieces */
  height: 40px;
  border-radius: 50%; /* Circular pieces */
  display: flex;
  justify-content: center;
  align-items: center;
}

.player2 {
  width: 40px; /* Diameter of the pieces */
  height: 40px;
  border-radius: 50%; /* Circular pieces */
  display: flex;
  justify-content: center;
  align-items: center;
}

.player1 {
  background-color: green;
}

.player2 {
  background-color: red;
}

.highlight-move {
  border: 2px solid yellow;
  box-sizing: border-box;
}

.highlight-capture {
  border: 2px solid red;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

.selected {
  border: 5px solid white;
  box-sizing: border-box; /* Ensure border doesn't affect the size of the element */
}

